.friendlist {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 304px;
    margin: 0 auto;
    background-color: azure;
}

.friendListItem_container {
    border: 0.6px solid black;
    border-radius: 24px;
    flex-basis: calc((100% - 48px) / 5);
    background-color: white;
    padding: 6px;
}