.transaction_table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    width: 304px;
    display: block;
    margin: 48px auto;
}

.transaction_table_head {
    background-color: rgba(36, 37, 39, 1);
    color: rgba(250, 250, 250, 1);
    font-weight: 600;
}

.transaction_table_head_title {
    border: 1px solid black;
    width: 100px;
    padding: 6px;
}

.transaction_table_body {
    color: rgba(36, 37, 39, 1);
    background-color: rgba(250, 250, 250, 1);
    font-weight: 400;
    width: 100%;
}

.transaction:nth-child(even) {
    background-color: rgba(128, 128, 128, 1);
}

.transaction_spot {
    border: 1px solid black;
    padding: 6px;
    width: 100px;
}